src/*.o
src/jsoncpp/*.o
src/lodepng/*.o
src/pcg/*.o
src/sdl_savejpeg/*.o
src/snes_ntsc/*.o
src/SQLiteCpp/*.o
win64/duskfall.exe
win64/log.txt
win64/userdata/
win64/src/

# I use some personal maintenance scripts for the git repo that don't need to be shared here.
*.sh
